# Dependencies
node_modules
.pnpm-store

# Next.js
.next
out

# Build outputs
dist
build
coverage

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
bun.lockb

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode
.idea

# Prisma
apps/web/prisma/dev.db
apps/web/prisma/dev.db-journal

# Deployment
.vercel
.turbo